
.header {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows:1fr;
gap:1cm;
width:100%; 
height:30%;
background-color:#BFAFB2;
}

.header11 {
grid-column:1;
grid-row:1;
height:19%;
Border-radius:15px;
}

.header21 {
grid-column: span 2;
grid-row:1;
height:19%;
background-color: #D0FF14;
border-radius:50px;
text-align:center;
}

.header31 {
grid-column:4;
grid-row:1;
height:19%;
Border-radius:15px;
}


.main {
display: grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr 1fr;
gap:1cm;
width:100%;
background-color:#A57164;
}

.main11 {
width:100%;
grid-column:1;
grid-row:1;
display:flex;
flex-direction:row;
gap:5px;
flex-wrap:wrap;
background-color:#F28E1C;
}

.main111 {
width:30%;
height:25%;
Border-radius:15px;
}

.main112 {
width:30%;
height:20%;
font-size:40px;
text-align:center;
font-weight:bold;
color:#84DE02;
background-color:#8F9779;
border-radius:15px;
}

.main113 {
width:30%;
height:30%;
border-radius:15px;
border:3px solid #007FFF;
}

.main114 {
width:30%;
height:30%;
font-size:30px;
color:green;
border-radius:15px;
color:#551B8C;
}

.main115 {
width:30%;
height:20%;
border-radius:15px;
}

.main116 {
width:30%;
height:30%;
font-size:20px;
text-align:center;
}

.main117 {
width:30%;
height:30%;
font-size:20px;
color:blue;
}

.main118 {
width:30%;
height:30%;
Border-radius: 10px;
border: 2px solid #003A6C; 
}

.main119 {
width:30%;
height:30%;
font-size:20px;
color:blue;
}

.main21 {
width:100%;
height:50%;
grid-column:2;
grid-row:1;
gap:5px;
border: 2px solid BLACK;
Border-radius: 10px;
background-color:#7FFFD4;
}

.main211 {
width:18%;
height:1%;
border: 2px solid black;
}

.main12 {
width:100%;
height:50%;
Border-radius:10px;
border:2px solid black;
}

.main22 {
width:100%;
height:100%;
grid-column:2;
grid-row:2;
display:flex;
flex-direction:column;
gap:5px;
flex-wrap:wrap;
background-color:#A1CAF1;
}

.main221 {
width:30%;
height:5%;
}

.main222 {
width:30%;
height:50%;
border-radius:15px;
}

.main223 {
width:30%;
height:30%;
font-size:30px;
font-weight:bold;
color:blue;
text-align:center;
}

.main224 {
width:30%;
height:90%;
}

.main225 {
width:30%;
height:10%;
}

.main226 {
width:30%;
height:30%;
font-size:30px;
font-weight:bold;
color:red;
text-align:center;
}

.main227 {
width:30%;
height:30%;
border-radius:15px;
}



.footer {
display: grid;
grid-template-columns:1fr;
grid-template-rows:1fr;
gap:1cm;
width:100%;
height:10%;
background-color:#F4BBFF;
}

.footer1 {
width:100%;
height:100%;
font-size:25px;
text-align:center;
}


.div1 {
border:2px solid black; 
weight:4cm;
}